# Node modules
node_modules/

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime files
pids
*.pid
*.seed
*.pid.lock

# OS/system files
.DS_Store
Thumbs.db

# IDE/editor configs
.vscode/
.idea/
*.swp
*.swo

# Coverage/test output
coverage/
